# Core Telegram Bot (Pyrogram Fork)
pyrofork
tgcrypto

# Async + HTTP tools
aiohttp
aiofiles
requests
httpx
motor
cloudscraper

# HTML / parsing utilities
bs4
Unidecode
hachoir

# Crypto + Time utils
pycryptodome
pytz

# Web Server (Render HTTP Port)
flask
gunicorn

# Process Manager
supervisor
